
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    User User = ViewBag.User;
    IEnumerable<Blog> blogs = ViewBag.blogs;
    IEnumerable<Category> categories = ViewBag.category;
}
<link rel="stylesheet" href="~/css/blog.css" />
@section navbar {

}
<div class="row font-jost gx-0">
    <div style="z-index: 1; height: 100vh;" class="bg-seperator-90 d-none d-sm-block position-sticky top-0 start-0 col-3">
        <div class="d-flex pt-5 flex-column justify-content-evenly h-100">
            <div class="text-center text-light mx-seperator-90-auto">
                <img src=@Url.Content(@User.ProfilePicUrl) class="br-50p mx-auto d-block" width="50%" style="aspect-ratio: 1/1;" />
                <p class="fs-5 mt-3">@User.Name</p>
            </div>
            <div class="mt-0 text-secondary">
                <div onclick="window.location.href='/blog/explore'" class="sidebar-action active-action">
                    <i class="material-icons pe-3">dashboard</i>
                    Explore
                </div>
                <div onclick="window.location.href='/blog/create'" class="sidebar-action">
                    <i class="material-icons pe-3">&#xe147;</i>
                    Create Blog
                </div>
                <div class="sidebar-action" onclick="window.location.href='/blog/savedBlogs'">
                    <i class="material-icons pe-3">&#xe2bf;</i>
                    Saved Blogs
                </div>
                <div class="sidebar-action">
                    <i class="material-icons pe-3">bookmark</i>
                    My Blogs
                </div>
            </div>
            <div class="text-secondary">
                <div class="sidebar-action">
                    <i class="material-icons pe-3">&#xe853;</i>
                    Edit Profile
                </div>
                <div onclick="window.location.href='/user/logout'" class="sidebar-action">
                    <i class="material-icons pe-3">logout</i>
                    Log Out
                </div>
            </div>
        </div>
    </div>
    <div style="z-index: 1;" class="bg-orange d-sm-none col-12 border-orange border"></div>
    <div style="height: 200vh;" class="col-9">
            <div class="blog-image pt-4 mt-5">
                <form asp-action="FilterClicked" method="get">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4">
                            <select class="custom-select form-select form-select-md mx-2 my-1" name="category" asp-items="@(new SelectList(categories, "Id", "type"))" onchange="ValueChanged()">
                              <option value=0 selected>All</option>                          
                            </select>
                        </div>
                 
                        <div class="col-5 ">
                            <input class="form-control me-2" type="search" name="nameTitle" placeholder="Search By Author and Title" aria-label="Search">
                        </div>

                        <div class="col-1">
                            <button class="btn bg-orange" type="submit">Fliter</button>
                        </div>
                    
                    </div>
                </form>

                @foreach (var item in blogs)
               {
                   <div class="mx-5 px-5">
                        <hr />

                         <div class="row pt-3" >
                            <div class="col-1">
                                <img src=@Url.Content(@item.Author.ProfilePicUrl) width="50%" style="aspect-ratio: 1/1;" />
                            </div>
                            <div class="col-3 my-1" style="font-size:30;margin-left:-30px">
                                @item.Author.Name
                            </div>
                            <div class="col-8 text-end" style="font-size:10">

                               <i class="material-icons" style="font-size:5;vertical-align:middle;color:grey;cursor:pointer" onclick="SaveBlog(@item.Id)">bookmark</i> &nbsp; <i class="material-icons" style="font-size:5;vertical-align:middle">visibility</i>&nbsp; @item.views &nbsp;&nbsp; <i class="material-icons " style="vertical-align:middle;color:red;font-size:5">favorite</i>&nbsp; 100

                            </div>
                        </div>
                         <a href="/blog/viewBlog?Id=@item.Id" style="text-decoration:none;color:black">
                         <div class="row">
                              <div class="col-7">

                                   <span class="my-1" style="font-size:30px;font-weight:700px">@item.Title</span>

                                   <div class="row my-2" style="color:grey">
                                        <div class="col-6"> 23 August 2002 00:00 </div>
                                   </div>
                                   <div style="background-color:lightgrey;color:black;border-radius:20px;font-size:10px" class="col-1 text-center py-1 mt-3">World</div>
                                  

                              </div>

                              <div class="col-5">
                                   <img src=@Url.Content(@item.TitleImageUrl) style="width:96%;height:70%;border-radius:4px"/>
                               </div>
                         </div>
                         </a>
                   </div>

                   
               }
                
            </div>
    </div>
</div>

<script>

async function SaveBlog(id) {
    const req = await fetch("/blog/SaveBlog?id="+id, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        }
        
    });
    const res = await req.json();
    console.log(res);
}

</script>