@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    User User = ViewBag.user;
    Blog blog = ViewBag.blog;
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section navbar {

}

<link rel="stylesheet" href="~/css/blog.css" />

<div class="row font-jost gx-0">
    <div style="z-index: 1; height: 100vh;" class="bg-seperator-90 d-none d-sm-block position-sticky top-0 start-0 col-3">
        <div class="d-flex pt-5 flex-column justify-content-evenly h-100">
            <div class="text-center text-light mx-seperator-90-auto">
                <img src="@User.ProfilePicUrl" class="br-50p mx-auto d-block" width="50%" style="aspect-ratio: 1/1;" />
                <p class="fs-5 mt-3">@User.Name</p>
            </div>
            <div class="mt-0 text-secondary">
                <div onclick="window.location.href='/blog/explore'" class="sidebar-action">
                    <i class="material-icons pe-3">dashboard</i>
                    Explore
                </div>
                <div onclick="window.location.href='/blog/create'" class="sidebar-action active-action">
                    <i class="material-icons pe-3">&#xe147;</i>
                    Create Blog
                </div>
                <div class="sidebar-action">
                    <i class="material-icons pe-3">&#xe2bf;</i>
                    Saved Blogs
                </div>
                <div class="sidebar-action">
                    <i class="material-icons pe-3">bookmark</i>
                    My Blogs
                </div>
            </div>
            <div class="text-secondary">
                <div class="sidebar-action">
                    <i class="material-icons pe-3">&#xe853;</i>
                    Edit Profile
                </div>
                <div onclick="window.location.href='/user/logout'" class="sidebar-action">
                    <i class="material-icons pe-3">logout</i>
                    Log Out
                </div>
            </div>
        </div>
    </div>
    <div style="z-index: 1;" class="bg-orange d-sm-none col-12 border-orange border"></div>

    <div class="p-5 col-9">
        <div class="blog-image pt-4">
            <h2 class="fw-bold my-5 text-center">
                @blog.Title
            </h2>
            <div class="blog-image">
                <img id="blog-image" src="@blog.TitleImageUrl" class="br-10 mx-auto d-block" width="1000" style="aspect-ratio: 5/2;" />
            </div>
            <img class="br-50p mx-auto my-4 border-orange border d-block" width="50" style="aspect-ratio: 1/1;" />

            <h6 class="text-center text-secondary">
                Written By @User.Name
            </h6>

            <div id="blog-content" class="main-content text-start text-dark pt-5">
                
            </div>
        </div>
    </div>
</div>

<script>
    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }
    document.getElementById("blog-content").innerHTML = "" + htmlDecode(`@blog.Content`);
</script>

