@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    User User = ViewBag.user;
    Blog blog = ViewBag.blog;
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section navbar {

}

<link rel="stylesheet" href="~/css/blog.css" />

<div class="row font-jost gx-0">
    <div style="z-index: 1; height: 100vh;" class="bg-seperator-90 d-none d-sm-block position-sticky top-0 start-0 col-3">
        <div class="d-flex pt-5 flex-column justify-content-evenly h-100">
            <div class="text-center text-light mx-seperator-90-auto">
                <img src="@User.ProfilePicUrl" class="br-50p mx-auto d-block" width="50%" style="aspect-ratio: 1/1; object-fit: cover;" />
                <p class="fs-5 mt-3">@User.Name</p>
            </div>
            <div class="mt-0 text-secondary">
                <div onclick="window.location.href='/blog/explore'" class="sidebar-action @((ViewBag.IsExplore != null) ? "active-action" : "")">
                    <i class="material-icons pe-3">dashboard</i>
                    Explore
                </div>
                <div onclick="window.location.href='/blog/create'" class="sidebar-action">
                    <i class="material-icons pe-3">&#xe147;</i>
                    Create Blog
                </div>
                <div class="sidebar-action @((ViewBag.IsSavedBlogs != null) ? "active-action" : "")" onclick="window.location.href='/blog/savedBlogs'">
                    <i class="material-icons pe-3">&#xe2bf;</i>
                    Saved Blogs
                </div>
                <div class="sidebar-action @((ViewBag.IsMyBlog != null) ? "active-action" : "")" onclick="window.location.href='/blog/myBlog'">
                    <i class="material-icons pe-3">bookmark</i>
                    My Blogs
                </div>
            </div>
            <div class="text-secondary">
                <div class="sidebar-action">
                    <i class="material-icons pe-3" onclick="window.location.href='/user/updateProfile'">&#xe853;</i>
                    Edit Profile
                </div>
                <div onclick="window.location.href='/user/logout'" class="sidebar-action">
                    <i class="material-icons pe-3">logout</i>
                    Log Out
                </div>
            </div>
        </div>
    </div>
    <div style="z-index: 1;" class="bg-orange d-sm-none col-12 border-orange border"></div>

    <div class="p-5 col-9">
        <div class="blog-image pt-4">
            <!-- <div class="row">
                <div class="col-10">
                    
                </div> -->
            <div class="text-end">
                @if (blog.SavedBlogs.Where(e => e.UserId == User.Id).Count() != 0)
                {
                    <i id="save" class="material-icons mx-2" style="font-size:5;vertical-align:middle;color:var(--secondary);cursor:pointer" onclick="SaveBlog(@blog.Id)">bookmark</i>
                }
                else
                {
                    <i id="save" class="material-icons mx-2" style="font-size:5;vertical-align:middle;color:lightgrey;cursor:pointer" onclick="SaveBlog(@blog.Id)">bookmark</i>
                }

                @if (blog.likeBlogs.Where(e => e.UserId == User.Id).Count() != 0)
                {
                    <i id="like" class="material-icons mx-2" style="vertical-align:middle;color:var(--secondary);font-size:5">favorite</i> @blog.likeBlogs.Count
                }
                else
                {
                    <i id="like" class="material-icons-outlined mx-2" style="vertical-align:middle;color:lightgrey;font-size:5" onclick="likeClicked()">favorite</i> @blog.likeBlogs.Count
                }

                <i class="material-icons mx-2" style="color: lightgrey; font-size:5;vertical-align:middle;fill:0;cursor:pointer;border:2" onclick="commentClicked()">&#xe0ca</i>
            
            </div>
            <!-- </div> -->
            <h2 class="fw-bold my-5 text-center">
                        @blog.Title
            </h2>
            <div class="blog-image">
                <img id="blog-image" src=@Url.Content(@blog.TitleImageUrl) class="br-10 mx-auto d-block" width="1000" style="aspect-ratio: 5/2;" />
            </div>
            <img src="@blog.Author.ProfilePicUrl" class="br-50p mx-auto my-4 border-orange border d-block" width="50" style="aspect-ratio: 1/1;" />

            <h6 class="text-center text-secondary">
                Written By @blog.Author.Name
            </h6>

            <div id="blog-content" class="main-content text-start text-dark pt-5">
                
            </div>
        </div>


        <div id="commentBlock" class="shadow end-0 position-fixed" style="background-color:white;z-index:10098;right:0px;overflow-y:scroll;word-wrap:break-word;position:fixed;top:55px;bottom:0;width:25%;display:none">

            <div class="row my-3 g-0">
                <div class="col-11"></div>
                <div class="col-1">
                    <i class="material-icons end-0" style="right:0;cursor:pointer;" onclick="closeComment()">close</i>
                </div>
            </div>

            <form style="margin-bottom:30px">
                @*
            <input type="hidden" value="@blog.Id" name="blogId"/>*@
            <div class="row gx-0 my-2">
                <div class="col-9">
                    <input class="form-control" id="comment" placeholder="Add Comment" required type="text" name="comment" />
                </div>
                <div class="col-2">
                    <button class="btn bg-orange br-50 px-4" type="button" onclick="commentAdd()">Post</button>
                </div>
            </div>
        </form>

        <hr style="width:96%" />


        <div id="comment-list">
            @foreach (var item in blog.Comments)
            {

                <div class="my-2">
                    <div class="row gx-0 mx-2 my-2">
                        <div class="col-1">
                            <img src="@Url.Content(item.user.ProfilePicUrl)" class="br-50p" style="width:25px; height 25px; object-fit: cover; background-color: black;" />
                        </div>
                        <div class="col-4 my-1 mx-2" style="font-size:15px">
                            <b>@item.user.Name</b>
                        </div>
                        <div class="col-6 text-end my-1" style="color:grey;font-size:13px;">
                            @item.dateTime
                        </div>
                    </div>
                    <div class="row mx-5">
                        @item.Text
                    </div>
                </div>
            }
        </div>

        </div>
    </div>
</div>

<script>
    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }
    document.getElementById("blog-content").innerHTML = "" + htmlDecode(`@blog.Content`);

    async function likeClicked(){

        document.getElementById('like').text = 'material-icons';
        document.getElementById('like').style.color = '#ff914d';
        const req = await fetch('/blog/likedBlogs?id=' + @blog.Id, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        });
    }

    async function SaveBlog(id) {
        document.getElementById('save').style.color = '#ff914d';
        const req = await fetch("/blog/SaveBlog?id="+id, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }

        });
        const res = await req.json();
        console.log(res);
    }
    function commentClicked(){
        console.log("comment clicked");
        document.getElementById('commentBlock').style.display = "block";
    }

    function closeComment() {
         document.getElementById('commentBlock').style.display = "none";
    }

    async function commentAdd(){
        var comment = document.getElementById('comment').value;

        if (comment == null || comment == "")
            return;


        let formData = new FormData();
        formData.set("blogId", @blog.Id);
        formData.set("comment", comment);
        @*formData.append("blogId", @blog.Id);
        formData.append("comment", comment);*@

        const req = await fetch('/blog/comment', {
            method: 'POST',
            body: formData,
        });

        document.getElementById("comment").value = null;

        var newComment = document.createElement("div");
        newComment.classList.add("my-2");
        newComment.innerHTML = `
                    <div class="row gx-0 mx-2 my-2">
                        <div class="col-1">
                            <img src="@User.ProfilePicUrl" style="width:25px" />
                        </div>
                        <div class="col-4 my-1 mx-2" style="font-size:15px">
                            <b>@User.Name</b>
                        </div>
                        <div class="col-6 text-end my-1" style="color:grey;font-size:13px;">
                            ${Date.now().toLocaleString()}
                        </div>
                    </div>
                    <div class="row mx-5">
                        ${comment}
                    </div>
        `;

        document.getElementById("comment-list").appendChild(newComment);

    }
</script>

